<script src="../dist/interval.js"></script>

<script>
  Interval.start(function() {
    console.log('interval hit');
  }, 1000);


  setTimeout(function() {
    Interval.clear(function() {
      console.log('clearing interval');
    });
  }, 3000);
</script>
